.tasks{
  margin-left: 8em;
}
.mainlist{
  width: 35%;
  height: 100%;
  float: left;
}
table{
  width: 100%;
  text-align: left;
}
.mat-row:hover {
  background-color: #F6F6F6	;
}
.selected{
  background-color: #3F51B5;
  color: white;
}

.option{
 width:45%;
 float: left;
}
.update, .create{
  padding-left: 3em;
}
button{
  margin-left: 15em;
}
