<div class="tasks">

	<div class="mainlist">
		<h2>Tasks List</h2>
		<!-- List of the tasks -->
		<table mat-table [dataSource]="tasks" class="tasklist">

			<ng-container matColumnDef="Number">
				<th mat-header-cell *matHeaderCellDef>No.</th>
				<td mat-cell *matCellDef="let task"
					(click)="taskOnClick(task)"[class.selected]="task === selectedTask">
					{{task.Number}}
				</td>
			</ng-container>

			<ng-container matColumnDef="Name">
				<th mat-header-cell *matHeaderCellDef>Task Name</th>
				<td mat-cell *matCellDef="let task"
				 (click)="taskOnClick(task)"[class.selected]="task === selectedTask">
					{{task.Name}}
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="ColumnsForTasks"></tr>
	  	<tr mat-row *matRowDef="let row; columns: ColumnsForTasks;"></tr>
		</table>


		<button mat-stroked-button color="primary"
				class="pip" [hidden]="creatingtask" (click)="creatingTask = true">
			Create Task
		</button>
	</div>

	<div class="option">

	<!-- Create new task -->
		<div class="create">
			<div *ngIf="creatingTask">
				<h3>Add new task</h3>
				<!-- Create new task number -->
				<label for="Number" class="material">Number : {{newTaskNumber}}</label><br />

				<!-- Create new task name -->
				<label for="Name" class="material">Task Name : </label>
				<mat-form-field class="Name">
	    		<input matInput [(ngModel)]="Name" >
	  		</mat-form-field><br>


				<label for="DepNumber" class="material">Department : </label>
				<mat-form-field>
				  <mat-select [(ngModel)]="DepNumber">
				    <mat-option *ngFor="let dep of allDepartmanet" [value]="dep.DepNumber">
				      {{dep.DepName}}
				    </mat-option>
				  </mat-select>
				</mat-form-field><br><br>

				<button mat-stroked-button color="primary" class="pop" (click)="create(Name,DepNumber)">
					Create
				</button>
			</div>
		</div>

		<app-task-detail [selectedTask]="selectedTask"></app-task-detail>

	</div>

</div>
