<div class="tasks">

	<h2>Tasks</h2>
	<!-- List of the tasks -->
	<table st-table="rowCollection" class="table table-stripped table-hover">
		<thead>
			<tr>
				<th class="number">Number</th>
				<th class="name">Name</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let task of tasks"(click)="taskOnClick(task)"[class.selected]="task === selectedTask">
				<td class="number">{{task.Number}}</td>
				<td class="name">{{task.Name}}</td>
			</tr>
		</tbody>
	</table>
	<button class="pip" [hidden]="creatingtask" (click)="creatingTask = true">
		Create Task
	</button>


<!-- Edit the data of selected task -->
	<div class="update" *ngIf="selectedTask">
		<h3>{{selectedTask.Name}}Details</h3>
		<div>
			<!-- slelcted task number-->
			<label for="editTaskNumber" class="material">Task Number : </label>
			<input type="text" class="material" [(ngModel)]="selectedTask.Number" placeholder="Task Number"/><br>
			<!-- selected task name -->
			<label for="editTaskName" class="material">Task Name : </label>
			<input type="text" class="material" [(ngModel)]="selectedTask.Name" placeholder="Task Name"/><br>

			<!--Display Department selected task delong-->
			<label for="Deapartment" class="material">Department : </label>
			<select name="Department" [(ngModel)]="selectedTask.DepNumber" >
					<option *ngFor="let dep of selectedTask.Departments" [value]=dep.DepNumber>
						{{dep.DepName}}
					</option>
			</select><br>

			<!-- show employees -->
			<label for="showEmployee" class="material">Employees : </label>
			<ul class="showEmployees">
				<li *ngFor = "let emp of selectedTask.Employees">{{emp.FirstName}}  {{emp.LastName}}</li>
			</ul>


			<button class="btndelete" (click)="delete()">Delete Task</button>
		</div>
	</div>


<!-- Create new task -->
	<div class="create">
		<div *ngIf="creatingTask">
			<h3>Add new task</h3>
			<!-- Create new task number -->
			<label for="Number" class="material">Number : {{newTaskNumber}}</label><br />

			<!-- Create new task name -->
			<label for="Name" class="material">Task Name : </label>
			<input type="text" id="Name" [(ngModel)]="Name" placeholder="Task Name"/><br>


			<label for="DepNumber" class="material">Department : </label>
			<select name="newDepNumber" id="newDepNumber" [(ngModel)]="DepNumber" >
					<option value="" disabled="disabled">Choose Department </option>
					<option *ngFor="let dep of allDepartmanet" [value]="dep.DepNumber">
							{{dep.DepName}}
					</option>
			</select>

			<button class="pop" (click)="create(Name,DepNumber)">Create</button>
		</div>
	</div>
</div>
