<div class="tasks">

	<h2>Tasks</h2>
	<!-- List of the tasks -->
	<table st-table="rowCollection" class="table table-stripped table-hover">
		<thead>
			<tr>
				<th class="number">Number</th>
				<th class="name">Name</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let task of tasks"(click)="taskOnClick(task)"[class.selected]="task === selectedTask">
				<td class="number">{{task.Number}}</td>
				<td class="name">{{task.Name}}</td>
			</tr>
		</tbody>
	</table>
	<button class="pip" [hidden]="creatingtask" (click)="creatingTask = true">
		Create Task
	</button>


<!-- Edit the data of selected task -->
	<div class="update" *ngIf="selectedTask">
		<h3>{{selectedTask.Name}}Details</h3>
		<div>
			<!-- slelcted task number-->
			<label for="editTaskNumber" class="material">Task Number : {{selectedTask.Number}}</label>
			<br>
			<!-- selected task name -->
			<label for="editTaskName" class="material">Task Name : </label>
			<mat-form-field class="editTaskName">
    		<input matInput [(ngModel)]="selectedTask.Name" >
  		</mat-form-field>

			<!--Display Department selected task delong-->
			<label for="Deapartment" class="material">Department : </label>
			<mat-form-field name="Department">
			  <mat-select [(ngModel)]="selectedTask.DepNumber">
			    <mat-option *ngFor="let dep of selectedTask.Departments" [value]="dep.DepNumber">
			      {{dep.DepName}}
			    </mat-option>
			  </mat-select>
			</mat-form-field><br>

			<!-- show employees -->
			<label for="showEmployee" class="material">Employees : </label>
			<ul class="showEmployees">
				<li *ngFor = "let emp of selectedTask.Employees">{{emp.FirstName}}  {{emp.LastName}}</li>
			</ul>


			<button class="btndelete" (click)="delete()">Delete Task</button>
		</div>
	</div>


<!-- Create new task -->
	<div class="create">
		<div *ngIf="creatingTask">
			<h3>Add new task</h3>
			<!-- Create new task number -->
			<label for="Number" class="material">Number : {{newTaskNumber}}</label><br />

			<!-- Create new task name -->
			<label for="Name" class="material">Task Name : </label>
			<mat-form-field class="Name">
    		<input matInput [(ngModel)]="Name" >
  		</mat-form-field>


			<label for="DepNumber" class="material">Department : </label>
			<mat-form-field>
			  <mat-select [(ngModel)]="DepNumber">
			    <mat-option *ngFor="let dep of allDepartmanet" [value]="dep.DepNumber">
			      {{dep.DepName}}
			    </mat-option>
			  </mat-select>
			</mat-form-field><br>

			<button class="pop" (click)="create(Name,DepNumber)">Create</button>
		</div>
	</div>
</div>
