<div class="department">
	<h2>Departments</h2>

	<!-- List of the Departments  -->
		<table st-table="rowCollection" class="table table-stripped table-hover">
			<thead>
				<tr>
					<th class="number">Number</th>
					<th class="name">Name</th>
			</tr>
			</thead>
			<tbody>
				<tr *ngFor="let department of departments"
				(click)="departmentOnClick(department)"
				[class.selected]="department === selectedDepartment">
					<td class="number">{{department.DepNumber}}</td>
					<td class="name">{{department.DepName}}</td>
				</tr>
			</tbody>
		</table>
		<button class="pip" [hidden]="creatingDepartment" (click)="creatingDepartment = true">
			Create Department
		</button>

	<!--Edit the department -->
		<div class="update" *ngIf="selectedDepartment">
			<h3>{{selectedDepartment.DepName}} Details</h3>
			<div>
				<label for="editDepNumber" class="material">
					 Department Number : {{selectedDepartment.DepNumber}}
				 </label><br>

				<label for="editDepName" class="material">Department Name : </label>
				<mat-form-field class="editDepName">
    			<input matInput [(ngModel)]="selectedDepartment.DepName" >
  			</mat-form-field>

				<!-- Employees of electedDepartment -->
				<table class="selected">
					<tr>
						<th>Employees: </th>
						<td *ngFor="let emp of selectedDepartment.EmpName">{{emp.FirstName}} {{emp.LastName}},
						</td>
					</tr>
				</table>

				<!-- Department of electedDepartment -->
				<table class="selected">
					<tr>
						<th>Tasks: </th>
						<td *ngFor="let tsk of selectedDepartment.Name">{{tsk.Name}}</td>
					<tr>
				</table>

				<button class="btndelete" (click)="delete()">Delete Department</button>
			</div>
		</div>


	<!-- Add new table to This List -->
		<div class="create">

			<div *ngIf="creatingDepartment">
				<h3>Add new department</h3>
				<label for="DepNumber" class="material">Department Number : {{newDepNumber}}</label><br>

				<label for="DepName" class="material">Department Name</label>
				<mat-form-field class="DepName">
    			<input matInput placeholder="Department Name" [(ngModel)]="DepName">
  			</mat-form-field>
				<br>
				<button class="pop" (click)="create(DepName)">Create</button>
			</div>
		</div>

</div>
