<div class="pageTitle">
  <h2>Departments</h2>
</div>
<div class ="searchForm">
  <form class="example-form">
    <label for="name">Search:</label>
    <input id="txtName" name="txtName" type="text" #name />
    <input type="button" value="search" (click)="onclick(name.value)" />
  </form>
</div>
<!--Search: <input [(ngModel)] ="query" placeholder="search department" /> -->

<div class="department">

	<div class="mainlist">
		<!--Department List -->
		<h2>Department List</h2>
<!--		<table mat-table [dataSource]="departments | startsWith : query" class="tasklist"> -->
    <table mat-table [dataSource]="departments" class="tasklist">
			<ng-container matColumnDef="DepNumber">
				<th mat-header-cell *matHeaderCellDef>No.</th>
				<td mat-cell *matCellDef="let department "
				(click)="departmentOnClick(department)" [class.selected]="department === selectedDepartment" >
					{{department.id}}
				</td>
			</ng-container>

			<ng-container matColumnDef="DepName">
				<th mat-header-cell *matHeaderCellDef>Department Name</th>
				<td mat-cell *matCellDef="let department "
				 (click)="departmentOnClick(department)" [class.selected]="department === selectedDepartment">
					{{department.name}}
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="ColumnsForDepartments"></tr>
	  	<tr mat-row *matRowDef="let row; columns: ColumnsForDepartments;"></tr>
		</table>
		<button mat-stroked-button color="primary"
				class="pip" [hidden]="creatingDepartment" (click)="creatingDepartment = true">
			Create Department
		</button>
	</div>


	<div class="option">
		<div class="option">

		  <!--Edit the department -->
		  <div class="update" *ngIf="selectedDepartment">
		    <h3>{{selectedDepartment.name}} Details</h3>
		    <div>
		      <label for="editDepNumber" class="material">
		         Department Number : {{selectedDepartment.id}}
		       </label><br>

		      <label for="editDepName" class="material">Department Name : </label>
		      <mat-form-field class="editDepName">
		        <input matInput [(ngModel)]="selectedDepartment.name" >
		      </mat-form-field>

		      <!-- Employees of electedDepartment -->
		      <table class="EmployeeForDepartment">
		        <tr>
		          <th>Employees: </th>
		          <td *ngFor="let emp of selectedDepartment.Employees">{{emp.first_name}} {{emp.last_name}},
		          </td>
		        </tr>
		      </table>

		      <!-- Department of electedDepartment -->
		      <table class="TaskForDepartment">
		        <tr>
		          <th>Tasks: </th>
		          <td *ngFor="let tsk of selectedDepartment.Tasks">{{tsk.name}}</td>
		        <tr>
		      </table>

		      <button mat-stroked-button color="primary" class="btndelete" (click)="delete()">
		        Delete Department
		      </button>
		    </div>
		  </div>

		<!-- Add new table to This List -->
		<div class="create">

			<div *ngIf="creatingDepartment">
				<h3>Add new department</h3>
				<label for="DepNumber" class="material">Department Number : {{newDepNumber}}</label><br>

				<label for="DepName" class="material">Department Name</label>
				<mat-form-field class="DepName">
    			<input matInput placeholder="Department Name" [(ngModel)]="departments.name">
  			</mat-form-field>
				<br>

				<button mat-stroked-button color="primary"
						class="pop" (click)="create(departments.name)">
					Create
				</button>
			</div>
		</div>

	</div>

</div>
