<div class="department">

	<div class="mainlist">
		<h2>Departments</h2>
		<!--Department List -->
		<table mat-table [dataSource]="departments" class="tasklist">

			<ng-container matColumnDef="DepNumber">
				<th mat-header-cell *matHeaderCellDef>No.</th>
				<td mat-cell *matCellDef="let department"
				(click)="departmentOnClick(department)" [class.selected]="department === selectedDepartment">
					{{department.DepNumber}}
				</td>
			</ng-container>

			<ng-container matColumnDef="DepName">
				<th mat-header-cell *matHeaderCellDef>Department Name</th>
				<td mat-cell *matCellDef="let department"
				 (click)="departmentOnClick(department)" [class.selected]="department === selectedDepartment">
					{{department.DepName}}
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="ColumnsForDepartments"></tr>
	  	<tr mat-row *matRowDef="let row; columns: ColumnsForDepartments;"></tr>
		</table>
		<button mat-stroked-button color="primary"
				class="pip" [hidden]="creatingDepartment" (click)="creatingDepartment = true">
			Create Department
		</button>
	</div>


	<div class="option">
		<!-- Add new table to This List -->
		<div class="create">

			<div *ngIf="creatingDepartment">
				<h3>Add new department</h3>
				<label for="DepNumber" class="material">Department Number : {{newDepNumber}}</label><br>

				<label for="DepName" class="material">Department Name</label>
				<mat-form-field class="DepName">
    			<input matInput placeholder="Department Name" [(ngModel)]="DepName">
  			</mat-form-field>
				<br>
				
				<button mat-stroked-button color="primary"
						class="pop" (click)="create(DepName)">
					Create
				</button>
			</div>
		</div>
		<app-department-detail [selectedDepartment]="selectedDepartment"></app-department-detail>
	</div>

</div>
