
<div class="update" *ngIf="selectedEmployee">
  <h3>{{selectedEmployee.FirstName}} Details</h3>
    <div>
      <label>EmpNumber : {{selectedEmployee.EmpNumber}}</label><br>

      <label for="FirstName" class="material">Employee First Name : </label>
      <mat-form-field class="material">
        <input matInput [(ngModel)]="selectedEmployee.FirstName">
      </mat-form-field>
      <br>

      <label for="LastName" class="material">  Employee Family Name : </label>
      <mat-form-field class="material">
        <input matInput [(ngModel)]="selectedEmployee.LastName">
      </mat-form-field>
      <br>
    </div>
    <!--Display Task-->
    <label for="task">Task : </label>
    <mat-form-field>
      <mat-select name="task" [(ngModel)]="selectedEmployee.Number">
        <mat-option *ngFor="let tsk of allTasks" [value]="tsk.Number">
          {{tsk.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>
    <!-- Display Department -->
    <label for="department" >  Department : </label>
    <mat-form-field>
      <mat-select name="department" [(ngModel)]="selectedEmployee.DepNumber" >
        <mat-option *ngFor="let dep of allDepartments" [value]=dep.DepNumber>
          {{dep.DepName}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>

    <button mat-stroked-button color="primary"
        class="btndelete" (click)="delete()">
      Delete Employee
    </button>
</div>
