.employees{
  margin-left: 13em
}
table {
  padding-left: 2em;
}

th{
  padding-bottom: 7px;
}

th , td{
  width:7em;
  text-align: left;
  padding-left: 20px;
}

.pip {
  margin-left: 1em;
  margin-top: 0.7em;
}
.create, .update {
  margin-left: 2em;
}
