.department{
  margin-left: 8em
}
.mainlist{
  width: 35%;
  height: 100%;
  float: left;
}
.mainlist table{
  width: 100%;
}

.option tr{
  width:6em;
  text-align: left;
}
.mat-row:hover {
  background-color: #F6F6F6	;
}
.selected{
  background-color: #3F51B5;
  color: white;
}

.option{
 width:45%;
 float: left;
}
.update, .create{
  padding-left: 3em;
}
.option button{
  margin-top: 10px;
  margin-left: 15em;
}
.mainlist button{
  margin-top: 10px;
  margin-left: 15em;
}
