<div class="dashboard">
  <h2>Dashboard</h2>

    <div id="applist">
      <a routerLink="/departments">Departments</a>
      <a routerLink="/employees">Employees</a>
      <a routerLink="/tasks">Tasks</a>
    </div><br><br>

    <div class="overview">
      <h3>Overview</h3>
      <h4>Departments</h4>
      <table st-table="rowCollection" class="table table-stripped table-hover">
  			<thead>
  				<tr>
  					<th class="number">Number</th>
  					<th class="name">Name</th>
  			</tr>
  			</thead>
  			<tbody>
  				<tr *ngFor="let department of departments">
  					<td class="number">{{department.DepNumber}}</td>
  					<td class="name">{{department.DepName}}</td>
  				</tr>
  			</tbody>
      </table>

      <h4>Employees</h4>
      <table st-table="rowCollection" class="table table-stripped table-hover">
        <thead>
          <tr>
            <th>EmpNumber</th>
            <th>FirstName</th>
            <th>LastName</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{employee.EmpNumber}}</td>
            <td>{{employee.FirstName}}</td>
            <td>{{employee.LastName}}</td>
          </tr>
        </tbody>
      </table>

      <h4>Tasks</h4>
      <table st-table="rowCollection" class="table table-stripped table-hover">
    		<thead>
    			<tr>
    				<th class="number">Number</th>
    				<th class="name">Name</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr *ngFor="let task of tasks">
    				<td class="number">{{task.Number}}</td>
    				<td class="name">{{task.Name}}</td>
    			</tr>
    		</tbody>
    	</table>
    </div>

</div>
