<div class="pageTitle">
  <h2>Dashboard</h2>
</div>

    <div class="overview">
      <div class="list">
        <h4>Departments</h4>
        <table mat-table [dataSource]="departments" class="mat-elevation-z8">
          <ng-container matColumnDef="DepNumber">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let department">
                <a routerLink="/departments" (click)="departmentOnClick(department)">
                  {{department.DepNumber}}
                </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="DepName">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let department" (click)="departmentOnClick(department)">
                <a routerLink="/departments" (click)="departmentOnClick(department)">
                  {{department.DepName}}
                </a>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="ColumnsForDepartments"></tr>
          <tr mat-row *matRowDef="let row; columns: ColumnsForDepartments;"></tr>
        </table>
      </div>



      <div class="list">
        <h4>Employees</h4>
        <table mat-table [dataSource]="employees" class="mat-elevation-z8">

          <ng-container matColumnDef="EmpNumber">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let employee" >
              <a routerLink="/employees" (click)="employeeOnClick(employee)">
                {{employee.EmpNumber}}
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="FirstName">
            <th mat-header-cell *matHeaderCellDef> FirstName </th>
            <td mat-cell *matCellDef="let employee">
              <a routerLink="/employees" (click)="employeeOnClick(employee)">
                {{employee.FirstName}}
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef> LastName </th>
            <td mat-cell *matCellDef="let employee" >
              <a routerLink="/employees" (click)="employeeOnClick(employee)">
                {{employee.LastName}}
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="ColumnsForEmployees"></tr>
          <tr mat-row *matRowDef="let myrow; columns: ColumnsForEmployees;"></tr>
        </table>
      </div>



      <div class="list">
        <h4>Tasks</h4>
        <table mat-table [dataSource]="tasks" class="mat-elevation-z8">

          <ng-container matColumnDef="Number">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let task">
                 <a routerLink="/tasks" (click)="taskOnClick(task)">
                   {{task.Number}}
                 </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let task"(click)="taskOnClick(task)">
                <a routerLink="/tasks" (click)="taskOnClick(task)">
                  {{task.Name}}
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="ColumnsForTasks"></tr>
            <tr mat-row *matRowDef="let row; columns: ColumnsForTasks;"></tr>
        </table>
      </div>
    </div>
